@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Inter', sans-serif;

}

body{

    width: 100%;
    height: 100vh;
    background-color: #210535;
    margin: 0 auto;
    background-image: url(/imgs/Ellipse\ 6.png), url(/imgs/starts.png);
    background-size: cover;
}

.navigate{
    
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: flex;
    align-items: center;
}

.navigate a{

    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0 0 40px;
    font-weight: 700;
}

.container{

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container h1{

    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    margin-top: 50px;
}

.container img{

    width: 416px;
}

.container p{
    
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 50px;
}

.btn{

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    padding: 25px;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: center;
    color: #210535;
    cursor: pointer;
}

.info{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.info h2{

    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 60px;
}

.card{

    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card0{

    width: 300px;
    height: 320px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 50px;
    border-radius: 10px;
}

.card img{

    width: 100%;
    border-radius: 8px;
}

.card p {

    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px 20px 0 20px;
}

hr {

    display: flex;
	width: 50%;
	height: 2px; 
	background: #fff;
    margin: 80px auto 0 auto;
    justify-content: center;
}

.page{

    display: block;
}

.mobile{

    width: 100px;
    display: none;
}

.icon{

    width: 50px;
    display: none;
}

.teste{

    display: flex;
}

.menu-mobile{

    display: flex;
}

/* assinatura creater */

.name{

    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

.creator{

    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 0 0 10px;
    color: #fff;
}

.my-name{

    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 0 3px;
    color: #C874B2;
}

.my{

    width: 25px;
    border: 1px solid #C874B2;
    border-radius:180px;
}


@media screen and (max-width: 375px){

    .navigate{

        position: fixed;
        top: 540px;
    }

    body{

        height: 100vh;
    }
    .container h1{

        position: absolute;
        top: 300px;
        left: 50px;
        font-size: 2.5rem;

    }

    .btn{
        
        width: 150px;
        height: 40px;
        font-size: 0.8rem;
        position: absolute;
        top: 450px;
        left: 110px;
    }

    .container{

        justify-content: center;
    }

    .mobile{

        display: block;
        width: 300px;
        height: 400px;
        margin: -60px 0 0 0;
        
    }

    .page{

        display: none;
    }
    
    .container p{
    
        display: none;
    }

    .card{

        display: none;
    }

    .info h2{
        display: none;
    }

    .navigate a{

        display: none;
    }

    .creator{

        display: none;
    }

    .my{

        display: none;
    }

    hr{
        display: none;
    }

    .icon{

        display: block;
    }

    .menu-mobile{

        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
    }
}